* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.bg-sec {
  background: #fff8f1;
}

.text-center {
  text-align: center;
}

.btn-primary {
  border: none;
  background: #ec6b16;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.btn-secondary {
  background: transparent;
  color: #ec6b16;
  border: 1px solid #ec6b16;
  border-radius: 8px;
  cursor: pointer;
}

h1 h2 h3 h4 h5 h6 {
  color: #243141;
}

.p-b-140 {
  padding-bottom: 140px;
}

.bg-t {
  background: #fef9f1;
}

.d-flex {
  display: flex;
}

header .logo {
  margin-top: 32px;
}

header .container {
  justify-content: space-between;
}

header .navigation ul {
  column-gap: 40px;
}

header .navigation ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2b2f3e;
  top: 40px;
  position: relative;
}

header .navigation ul li a:hover {
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

header .btn {
  margin-top: 30px;
  padding: 15px 31px;
  margin-top: 30px;
  color: #ffffff;
}

header .btn:hover {
  background-color: #243141;
}

#popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  position: fixed;
  display: none;
  left: 0;
  top: 0;

  z-index: 20;

  transition: all ease-in 0.4s;
}

.popup1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupbox {
  width: 700px;
  background: #ffffff;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
}

/* #popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
  border-radius: 20px
} */

.popup h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.1px;

  color: #243141;
  margin-bottom: 50px;
}

.popup input {
  width: 305px;
  border: 1px solid #fed7bd;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 130% */
  padding: 18px 20px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.6);
}

.popup .btn {
  position: relative;
  left: 32%;
  padding: 15px 31px;
}

.popup .btn:hover {
  background-color: #000000;
}

/* .custom-animation {
  
  transform: rotate3d(1, .5, .5, 180deg) scale(0.1);
  transition: all ease-in .4s;
} */
.popup .cross {
  background: none;
  border: none;
  float: right;
  font-weight: 900;
  cursor: pointer;
  top: -18px;
  position: relative;
  right: -13px;
  font-size: 16px;
}

.section {
  padding-top: 61px;
  padding-bottom: 80px;
}

.section .container {
  justify-content: space-between;
}

.section .container h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(236, 107, 22, 0.76);
  padding: 10px;
  border-radius: 3px;
  width: 192px;
}

.section .container h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: #000000;
  margin: 10px 0px;
  width: 543px;
}

.section .container p {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #ec6b16;
  margin-bottom: 30px;
}

.section .container ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0e0b3d;
  position: relative;
  padding-left: 15px;
  left: 15px;
  padding-bottom: 10px;
}

.section .container ul li::marker {
  position: absolute;
  content: "✓";
  color: #ec6b16;
}

.section .frame {
  right: 74px;
  position: relative;
}

.section .btn {
  padding: 15px 31px;
  bottom: -30px;
  position: relative;
  margin-right: 10px;
}

.section .btn:hover {
  background-color: #000000;
  transition: 0.3 ease-in-out;
  color: #ffffff;
  border: none;
}

.section1 .container {
  align-items: center;

  justify-content: space-between;
}

.section1 {
  padding-top: 40px;
  padding-bottom: 68px;
}

.section1 .container p {
  font-weight: 500;
  font-size: 14.7636px;
  line-height: 150%;
  color: #515151;
}

.section2 .container .card {
  padding-bottom: 60px;
  border-radius: 10px;
  margin-bottom: 60px;
  background: #fff8f1;
  border: 1px solid #FFEEE2;
  border-radius: 10px;
}

.section2 .container h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #0e0b3d;
  padding: 50px 0px;
}

.section2 .container .card .row {
  column-gap: 48px;
}

.section2 .container h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  color: #000000;
}

.section2 .container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0e0b3d;
  position: relative;
}

.section2 .col {
  width: 291px;
}

.section2 .container .col p::after {
  content: "";
  position: absolute;
  border: 1px solid rgba(236, 107, 22, 0.33);
  width: 101px;
  transform: rotate(90deg);
}

/* -----------------------SLIDER--------------------- */

.section3 {
  text-align: center;
  padding-bottom: 120px;
}

.section3 .container h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #000000;
  text-align: center;
  padding-bottom: 10px;
}

.section3 .container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0e0b3d;
  margin-bottom: 47px;
}

.section3 .profile {
  display: flex;
  text-align: left;
}

.section3 .name {
  padding-left: 10px;
}

.section3 h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #333030;
}

.section3 .name p {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #737b7d;
}

.section3 .container {
  overflow: hidden;
  padding: 80px 0;
}

.section3 .container .glide .card {
  margin-top: 20px;
  text-align: left;
  width: 427px;

  border: 1px solid #fbcdae;
  border-radius: 10px;
  padding: 48px 41px 31px 36px;
  position: relative;
  margin-bottom: 53px;
  cursor: pointer;
}

.section3 .container .glide .card:hover {
  border: 1px solid #FF9D3C;
}

.section3 .container .glide .card::before {
  content: url(../images/quote.png);
  position: relative;
  height: 33px;
  width: 33px;
  top: -70px;
  box-sizing: border-box;
  left: -17px;
}

.glide__bullet {
  background-color: #FFE6CD;
  width: 7px;
  height: 7px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 60px;
}

.glide__bullet--active {
  background-color: #F88601;
}


.section3 .container .OR {

  position: relative;
  top: 80px;
  left: 13px;

}

.section3 .container .glide .card p {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #333030;
  margin-bottom: 81px;
}

.section3 .container .glide .card .profile p {
  margin-bottom: 0;
}

.section3 .container .glide .card img {
  padding-bottom: 6px;
  position: relative;
  left: -47px;
}

.section3 .container .glide .card .profile img {
  left: 0;
}

.section3 .btn {
  padding: 15px 31px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  top: 60px;
  margin-right: 18px;
}

.section3 .btn:hover {
  background-color: #000000;
}

.section3 a:hover {
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.section3 a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #ec6b16;
  margin-left: 46px;
  top: 60px;
  position: relative;
}

.billing {
  padding: 140px 0px 172px;
  background-color: #fff8f1;
  text-align: center;
}

.billing h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #243141;
  text-align: center;
}

.billing p {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0e0b3d;
  margin-bottom: 100px;
}

.billing .row {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}

.billing .col {
  width: 429px;
  height: 374px;
  border: 1px solid #fcdbbb;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  filter: drop-shadow(0px 4px 10px rgba(245, 245, 245, 0.57));
  border-radius: 10px;
  cursor: pointer;
  padding: 50px 33px;
}

.billing .col h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  align-items: center;
  color: #243141;
  margin-bottom: 5px;
}

.billing .col p {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #6c6f93;
}

.billing a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #ec6b16;
  margin-left: 46px;
}

.billing .col:hover {
  border: 1px solid #ff9d3c;
}

.billing .btn {
  padding: 15px 31px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  top: 60px;
  margin-right: 18px;
}

.billing .btn:hover {
  background-color: #000000;
}

.billing a:hover {
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.invoice {
  padding-top: 140px;
  padding-bottom: 112px;
}

.invoice h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #243141;
  padding-bottom: 10px;
}

.invoice p {
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  color: #0e0b3d;
}

.invoice .image {
  height: 699px;
  background-position: center;
  margin-top: 64px;
  position: relative;
  top: -117px;
}

.invoice .image img {
  margin-top: 78px;
}

.invoicing {
  background: #fff8f1;
  padding: 140px 0px;
  text-align: center;
}

.invoicing h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #243141;
  padding-bottom: 10px;
}

.invoicing p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0e0b3d;
  margin-bottom: 100px;
}

.invoicing .card {
  filter: drop-shadow(0px 4px 10px rgba(245, 245, 245, 0.57));
}

.invoicing .row {
  display: flex;
  /* border: 0.25px solid #ec6b16; */
}

.invoicing .square {
  height: 175px;
  width: 220px;
  align-items: center;
  border: 0.5px solid #ec6b16;
  /* border-bottom-width : thin; */
  padding-top: 48px;
}

.invoicing .squares {
  height: 175px;
  width: 220px;
  align-items: center;
  border: 1px solid #ec6b16;
  padding-top: 48px;
  border-top: none;
}

.invoicing .square p {
  margin-top: 16px;
}

.invoicing .squares p {
  margin-top: 16px;
}

.invoicing .square:not(:first-child) {
  margin-left: -1px;
}

.invoicing .squares:not(:first-child) {
  margin-left: -1px;
}

.formSection h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #243141;
}

.myform {
  min-width: 1076px;
  padding: 55px 60px;
  min-height: 553px;
  border: 1px solid #fff8f1;
  background: #fff8f1;
  border-radius: 32px;
  margin: 92px 182px 178px 182px;
  text-align: center;
}

.formSection .container .myform p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0e0b3d;
  margin-bottom: 40px;
}

.formSection .container .myform input {
  width: 301px;
  height: 55px;
  border: 1px solid #fed7bd;
  border-radius: 10px;
  padding: 18px 20px;
  margin-bottom: 20px;
}

.formSection .container .myform textarea {
  width: 955px;
  height: 159px;
  padding: 18px 20px;
  border: 1px solid #fed7bd;
  border-radius: 10px;
  resize: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 130% */


  color: rgba(0, 0, 0, 0.6);

}

.formSection button {
  border: none;
  background: #ec6b16;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  padding: 15px 31px;
  border-radius: 8px;
  cursor: pointer;
  margin: 40px 0px 0;
}

footer {
  height: 38px;
  background-color: #ec6b16;
  align-items: center;
}

footer p {
  font-weight: 400;
  padding: 10px 0px 11px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.formerror {
  font-size: 12px !important;

  color: red !important;
}

.formSection button:hover {
  background-color: #000000;
}

.selection {
  padding-bottom: 120px;
}

.selection h2 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #243141;
}

.selection p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0e0b3d;
  margin-bottom: 82px;
}

.selection #card {
  height: 533px;
  background: #fff8f1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 70px;
}

.selection button {
  border: none;
  background: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 26px 32px 19px;
  cursor: pointer;
  color: #282a30;
}

.selection .active {
  background-color: #fff8f1;
  border-radius: 17px 17px 0px 0px;
}

.selection #card1 {
  height: 533px;
  background: #fff8f1;
  border-radius: 10px;
  display: none;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 70px;
}

.selection .tab img {
  width: 740px;
  right: 117px;
  top: -62px;
  position: relative;
  padding: 51px
}

.selection #card2 {
  height: 533px;
  background: #fff8f1;
  border-radius: 10px;
  display: none;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 70px;
}

.selection #card3 {
  height: 533px;
  background: #fff8f1;
  border-radius: 10px;
  display: none;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 70px;
}

.selection .text {
  width: 502px;
  padding-top: 127px;
}

.selection .text h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #243141;
  margin-bottom: 5px;
}

.selection .text p {
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 150%;
  color: #4e5062;
}

.selection .text ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4e5062;
  position: relative;
  padding-left: 15px;
  left: 15px;
}

.selection .text ul li::marker {
  position: absolute;
  content: "✓";
  color: #ec6b16;
}

.selection .img {
  width: 552px;
  border-radius: 19px;
  margin-top: 60px;
  height: 424px;
}

.selection .navigation {
  text-align: center;
}

.selection .navigation ul {
  display: flex;
  padding: 0px 100px;
  justify-content: center;
}

.selection .navigation ul li {
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 20px;
}

.selection .navigation ul li:hover {
  background-color: #fff8f1;
  border-radius: 17px 17px 0px 0px;
}

.selection .navigation ul li a {
  color: #282a30;
}

@media only screen and (max-width: 870px) {
  .selection button {
    padding: 11px 15px 19px;
  }
}

@media only screen and (max-width: 815px) {
  .selection button {
    padding: 11px 9px 19px;
  }
}

@media only screen and (max-width: 880px) {
  .selection .img {
    display: block;
    position: relative;

  }

  .selection .text h5 {
    font-size: 18px;
  }

  .selection .text p {
    font-size: 14px;
  }

  .selection .text ul li {
    font-size: 14px;
  }
}

.formSection .container .myform .email {
  margin: 0 20px;



}

@media only screen and (max-width: 730px) {
  .formSection .container .myform input {
    width: 100%;
  }

  .formSection .container .myform input:nth-child(2) {
    margin: 20px !important;
  }

  .formSection .container .myform .email {
    margin: 0;



  }

}

@media only screen and (max-width: 730px) {}
